.estrutura {
    display: block;
    color: #fff;
}

.homeHeader {
    display: flex;
    color: #222;
}

.homeContent {
    display: flex;
    background: #fff;
    color: #222;
    padding-left: 1em;
}